<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete CustomerRight</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" th:text="${appName}"></a>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/customer/}">Customerlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/order}">Orderlist</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/api/customerRight}">Customerrights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/artikel}">Artikellist</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="nav nav-pills pull-right">
    <li style="margin-right: 44rem; margin-left: 15px;"><h1><a th:href="@{/api/customerRight/}">&#11164;Back</a></h1>
    </li>
    <li><h1>Delete CustomerRight</h1></li>
    </li>
</ul>

<br><br>
<div style="color:red;font-style:italic;text-align:center;" th:if="${errorMessage}"
     th:utext="${errorMessage}">...<br>
</div>
<div style="text-align:center;">
    <div class="header">
        <form method="POST"
              th:action="@{/api/customerRight/deleteCustomerRight}" th:object="${customerRightForm}">
            CustomerRightID:
            <br/>
            <input th:field="*{customerrightid}" type="text"/><br/>
            <br/>
            <input type="submit" value="DELETE"/>
        </form>
    </div>
</div>
</body>
</html>