<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div>
    <h1 th:text="${appName}"></h1>
    <br><br>
    <h2>
        <a th:href="@{/api/customer/}">Customerlist</a>
    </h2>
    <h2>
        <a th:href="@{/}">(TODO) Orderlist</a>
    </h2>
    <h2>
        <a th:href="@{/}">(TODO) Customerrights </a>
    </h2>
    <h2>
        <a th:href="@{/api/artikel}">Artikellist</a>
    </h2>
</div>
</body>
</html>