<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update OrderArtikel</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<ul class="boxes">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" th:text="${appName}"></a>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/customer/}">Customerlist</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/api/order}">Orderlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/customerRight}">Customerrights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/artikel}">Artikellist</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<br><br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Update Order-Artikel</h2>
        </div>
        <div class="card-body">
            <div class="card text-center" style="border: 0px">
                <h5 style="color:red;font-style:italic;text-align:center;" th:if="${errorMessage}"
                    th:utext="${errorMessage}"></h5>
                <form th:action="@{/api/orderArtikel/updateOrderArtikel}"
                      th:method="POST" th:object="${orderArtikelForm}">
                    OrderID
                    <br/>
                    <input class="text-readonly" readonly="readonly" th:field="*{orderid.orderid}" type="text"/><br/>

                    <br/>
                    ArtikelID
                    <br/>
                    <input class="text-readonly" readonly="readonly" th:field="*{artikelid.artikelid}"
                           type="text"/><br/>

                    <br/>
                    Menge
                    <br/>
                    <input th:field="*{menge}" type="text"/><br/>

                    <br/>

                    <input class="button-update" type="submit" value="Update"/><a class="pull right button-cancel"
                                                                                  style="margin-left: 20px"
                                                                                  th:href="@{/api/order/updateOrder/{id} (id=${orderArtikelForm.orderid.orderid})}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>